<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css">
    <title>Meme War</title>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body class="flex flex-col items-center justify-center min-h-screen text-gray-900">
    <div>
        <h1>Meme War</h1>
    </div>
    <div class="btndiv">
        <input type="button" class="btn" style="background-color: darkgreen;" onclick="location.href='/create';" value="Создать игру" />
    </div>
    <div class="btndiv">
        <input type="button" class="btn" style="background-color: darkorange;" onclick="location.href='/join';" value="Подключиться к игре" />
    </div>
    <div class="btndiv">
        <input type="button" class="btn" style="background-color: lightpink;" onclick="location.href='/rules';" value="Правила" />
    </div>
    <div style="position: fixed; bottom: 0; min-width: 100%;">
        <div>
            Dev: Wramble
        </div>
        <div>
            QA: Aliceisangry
        </div>
    </div>
</body>

</html>