<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css">
    <title>Rules - Meme War</title>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body class="flex flex-col items-center justify-center min-h-screen text-gray-900" style="font-size: xx-large;">
    <div>
        <h1>Meme War</h1>
    </div>
    <div class="btndiv">
        <input type="button" class="btn  anim" onclick="location.href='/';" value="Назад" />
    </div>
    <div>
        Один игрок (ведущий) создаёт игру и открывает доску. Указывает количество карт на руки и нажимает "Старт".
    </div>
    <div>
        <img src="/static/1.png" />
    </div>
    <div>
        Игрокам рандомно раздаются карты из колоды. Колода состоит из 2180 мемов. Виды карт:
    </div>
    <div>
        <table>
            <tr>
                <th>Обычные</th>
                <th>С подписью</th>
                <th>Анимированные</th>
            </tr>
            <tr>
                <th>+1 балл</th>
                <th>+1 балл</th>
                <th>+2 балла</th>
            </tr>
            <tr>
                <td><img src="/static/memes/img/bogdanoff-twins-handsome-squidward-has-been-found.webp" /></td>
                <td><img src="/static/memes/img/derzhi-v-kurse-ebalay.webp" /></td>
                <td><img src="/static/memes/gif/GifMaker_20211207130925786.gif" /></td>
            </tr>
        </table>
    </div>
    <div>
        Игроки выбирают карты в соответствии с заданием
    </div>
    <div>
        <img src="/static/3.png" />
    </div>
    <div>
        Когда все игроки сделают свой выбор, начнётся голосование. Игроки выбирают понравившуюся им карту (голосовать можно и за свою). По окончанию голосования будет выбран победитель раунда.
    </div>
    <div>
        <img src="/static/2.png" />
    </div>
    <div>
        Побеждает тот, кто набрал больше всего очков. GLHF
    </div>
</body>

</html>