<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css">
    <title>Show - Meme War</title>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body class="flex flex-col justify-center min-h-screen text-gray-900 board">
    <h1>Твой выбор:</h1>
    <img id="pic" src="{{ card }}" />
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/show.js"></script>
</body>

</html>